/*NAVIGATION STYLING GOES HERE*/

nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 50px;
	height: 80px;
	padding-top: 25px;
}

.logo {
	float: left;
}

.navmenu {
	float:right;
	padding-right: 10px;
}

.samihah img {
	width: 75%;
	height: auto;
	padding-left: 20px;
}

.menu ul {
  display: inline;
  list-style: none;
 }

 .menu-item {
 	  padding: 0px 20px;
 	  text-align: right;
 	  float: left;
 }

 .menu li {
 	display: inline-block;
 	color: #c9c9c9;
 	font-family: 'Open Sans', sans-serif;
 }

.menu ul li a:link {
	color: #c9c9c9;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	padding: 0px 15px;
}

.menu ul li a:hover {
	color: #ED1C24;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	padding: 0px 15px;
	text-decoration: none;
}

.menu .active {
	color:#ED1C24;
	cursor: default;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

/*END NAVIGATION STYLING*/

/*START PORTFOLIO PAGE STYLING*/

.portfolio_row {
	display: flex;
}
.portfolio_item {
	position: relative;
	flex: 1;
}
.portfolio_item img {
	width: 100%;
	height: auto;
}
.details {
	position: absolute;
	background-color: #A60F11;
	z-index: 10;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.details div {
	padding-left: 20px;
}

.portfolio_row img {
  width: 100%;
  height: auto;
  display: block;
}

.details a {
	position: absolute;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s linear all;
}
.details:hover {
	opacity: .88;
    transition: 0.36s linear all;
}

.project-client {
	color: #ffffff;
    font-size: 40px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 10%
}

.project-platform {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: -25px;
}

.project-methods {
    color: #ffffff;
    position: relative;
    width: 95%;
    font-size: 14px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    line-height: 30px;
	letter-spacing: 1px;
}


/*START PORTFOLIO OVERVIEW STYLING OF PAGES*/

.back {
	padding-bottom: 15px;
	padding-top: 5px;
}

.back a {
	color: #ED1C24;
	font-size: 16px;
	font-family: "Open Sans" serif;
	font-weight: 600;
}

.back a:hover {
	color: #c9c9c9;
}

.project-header {
	font-size: 25px;
	font-family: 'Merriweather', serif;
	color: #ED1C24;
	font-weight: 700;
}

.line-separator{
	height:2px;
	border-bottom:1px solid #C9C9C9;
	padding: 2px;
}

.project-tools {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 13px;
	color: #c9c9c9;
	line-height: 30px;
	letter-spacing: 2px;
}

.project-blurb {
	font-size: 15px;
	line-height: 40px;
	letter-spacing: 2px;
	pading-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

p.project-blurb {
	padding: 10px 0px;
}


/*START OF STYLING FOR ALL THINGS ABOUT AND HIGHLIGHTS*/

.aboutme {
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;

}


.greeting {
	color: #ED1C24;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 2px;
	font-family: 'Merriweather', serif;
	font-weight: 700;
}

.section-title {
	font-size: 20px;
	color: #c9c9c9;
	font-family: 'Merriweather', serif;
	font-weight: 600;
	padding: 0px 0px 5px 0px;
}

div.section-title {
	margin-left: 0;
}

div.delete-margin {
	margin-left: 0px;
}

.highlights-smallfont {
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
}

.speaking-title a{
	font-weight: 700;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	color: #ED1C24;
}

p.speaking-title {
	margin: 0;
}


.speaking-title a:hover{
	color: #c9c9c9;
	text-decoration: none;
}

.highlights-date {
	color: #c9c9c9;
	font-size: 10px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.item-padding {
	margin: 10px  0px;
}
/*END ABOUT STYLING FOR ABOUT*/


/*START OF STYLING FOR CONTACT HOLLA PAGE*/

.sayhi {
	color: #ED1C24;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Merriweather', serif;
}

.sayhi-text {
	padding: 5px 0px 0px 0px;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 30px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}

input, textarea {
	width: 100%;
	font-weight: 700;
	color: #c9c9c9;
	background-color: #f7f6f6;
	border: 1px solid #c9c9c9;
	padding: 7px;
	border-radius: 0px;
	margin: 10px 0px;
}

input:focus, textarea:focus {
    outline: 0;
	box-shadow: 0 0 5px #ED1C24;
	border: 1px solid #ED1C24;
	background-color: #FDFEFE;
	border-radius: 0px;
	color: #444444;
}

textarea {
	height: 200px;
	resize: none;
}


#submit {

	border: 2px solid #ED1C24;
	color: #ED1C24;
	background-color: #FDFEFE;
	font-family: 'Merriweather', serif;
	border-radius: 2px;
    transition: border 0.5s, color 0.5s, background-color 0.5s;
    margin-top: -10px;
	padding: 7px 0px 40px 0px;
	font-size: 18px;
	text-align: center;
	width: 100%;
}

#submit:hover {
	border: 2px solid #ED1C24;
	font-family: 'Merriweather', serif;
	color: #FDFEFE;
	background-color: #ED1C24;
}

/*END STYLING FOR HOLLA*/

/*START FOOTER STYLE*/
.fa-social {
	padding: 25px 15px 0px 8px;
}

.author {
	text-align: right;
	font-weight: 700;
}

.fa-heart {
	color: #ED1C24;
}

.footer ul {
  display: inline;
  list-style: none;
 }

 .footer li {
 	display: inline-block;
 	color: #c9c9c9;
 	font-family: 'Open Sans', sans-serif;
 }

.footer ul li a:link {
	color: #c9c9c9;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	padding: 0px 15px;
}

.footer ul li a:hover {
	color: #ED1C24;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	padding: 0px 15px;
	text-decoration: none;
}

footer {
	text-align: center;
	font-family: 'Merriweather', serif;
	padding-bottom: 30px;
	font-weight: 400;
	bottom: 0;

}

footer .copyright {
	padding-bottom: 10px;
	font-size: 12px;
}

footer .copyright a {
	color: #ED1C24;
}

footer .copyright a:hover {
	color: #c9c9c9;
}
/*END FOOTER STYLE*/

