*{ margin: 0; padding: 0; outline: 0; }

html, body{
	min-width: 100%;
	min-height: 100%;
    margin: 0;
    padding: 0;
}


body{
	background-color: #ffffff;
	color: #2A2A36;
	font-family: "Alegreya Sans";
	-webkit-font-smoothing: antialiased;
}

.row {
	position: relative;
	width: 100%;
}

.row [class^="col"] {
	float: left;
	min-height: 0.12rem;
}

.col-left{
	width: 20%;
	height: 100px;
}

.col-right{
	width: 80%;
	padding:0;
}

#logo{
	position: relative;
	margin: 7% 5% 15%;
	position: fixed;
	max-width: 5%;
}


.videoprototype{
	margin: 4% 5% 4% 15%;
}

.menu{
	font-family: "Alegreya Sans";
	font-weight: 300;
	line-height: 1em;
	font-size: 1.5em;
	position: relative;
  	left: 0;
  	top: 50%;
  	margin: 7% 5% 10%;
  	width: 8em;
  	margin-top: -2.5em;
  	position: fixed;
}

.menu-item {
 	  margin: 12% 5% 12%;
 	  text-align: right;
 	  float: left;
 }

 .inactive:hover {
	color:  #F1364B;
	transition: .1s
 }

 li {
 	list-style-type: none;
 }

#current-link{
	color: #F1364B;

}

#greeting{
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 400;
    line-height: 1em;
    margin: 3% 5% 8% 5%;
}

#title{
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 400;
    line-height: 1em;
    margin: 3% 5% 8% 5%;
}

#projecttitle{
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	margin: 7% 5% 1% 5%;
}


.work{
	font-size: 0;
	margin-left: 5%;
	padding:0;
}


.work img{
	max-width: 100%;
}

.description {
    margin: 2% 20% 2% 5%;
    line-height: 1.1em;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}

h1, h2, p{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: normal;
}

h1{
	font-family: "Alegreya Sans", sans-serif;
	font-size: 2.2em;
	line-height: 1.4em;
}

h2{
	margin-top: 1%;
	margin-left: 5%;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 500;
}

}

p{
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 3% 6% 2% 5%;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 300;
}

p a{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(241, 54, 75, 0.95);
	display: inline-block;
}

a, a:visited{
	transition: .20s;
	color: inherit;
	text-decoration: none;
}

a:hover {
    opacity: .5;
}

.cursor{
	cursor: url(/images/cursor.svg), pointer;
}

.last {
	padding-bottom: 10%;
}


/* Start of styling for form
<3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 */

input, textarea {
	width: 50%;
	color: #DFE1E3;
	background-color: #ffffff;
	border: none;
	border-bottom: 1px solid #2A2A36;
	padding: 2%;
	border-radius: 0px;
	margin: 1% 0%;
	margin-left: 15%;
	font-size: 1.1em;
	font-family: 'Alegreya Sans', sans-serif;
	text-shadow: none;
	line-height: 1em;
	
}

textarea {
	margin-top: 7%;
	padding-bottom 1%;
	height: 10%;
	resize: none;
	font-size: 1.1em;
}

input:hover, textarea:hover {
	outline: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #EE1931;
	background-color: #ffffff;
	border-radius: 0px;
	color: #EE1931;
	font-size: 1.1em;
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 1em;
}

input:focus, textarea:focus {
    outline: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #EE1931;
	background-color: #ffffff;
	border-radius: 0px;
	color: #2A2A36;
	font-size: 1.1em;
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 1em;
}


#submit {

	color: #ffffff;
	background-color: #EE1931;
	border-color: #EE1931;
	font-family: 'Alegreya Sans', sans-serif;
	border-radius: 2px;
    transition: border 0.5s, color 0.5s, background-color 0.5s;
    margin-top: 10px;
	padding: 2% 0% 2%px 0%;
	font-size: 18px;
	text-align: center;
	width: 53%;
	margin-left: 15%
}

#submit:hover {
	font-family: 'Alegreya Sans', sans-serif;
	color: #2A2A36;
	background-color: #F45D6D;
	border-color: #F45D6D;
}

/* #Mobile 
<3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 */

@media only screen and (max-width: 768px) {
	h1{
	    font-size: 1.3em;
	}

	p{
		font-size: 1em;
		margin: 2% 0%;
		font-family: "Alegreya Sans", sans-serif;
	}
	#logo img{
		position: relative;
		margin-top: 10%;
		position: fixed;
		max-width: 10%;
	}

	#intro{
		font-family: "Alegreya Sans", sans-serif;
	    line-height: 1em;
	    margin: 3% 5% 2% 5%;
	}
}

/* #Mobile small
<3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 <3 */

	@media only screen and (max-width: 320px){
		#intro{
			font-size: 0.8em;
		}

}